body {
    background-color: #fff;
}

fieldset{
    margin:1% auto;
}

table{
    margin-top: 20px;
}

.box-mensagem-crud{
    margin-top: 10px;
}

.msg-erro{
    color: red;
}

form {
    margin-top: 15px;
}

.navbar-brand {
    margin-right: 35px;
}

h1 {
    margin-top: 1.4rem;
}

.btn {
    margin-top: 0.5rem;
}

.card {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 12px;
}

.real-symbol {
    font-size: 38px;
}

hr {
    margin-top: 80px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.14);
}

.content-center {
    /*flex: 0 0 100%;*/
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}